<form *ngIf="data" #planetform="ngForm"  (ngSubmit)="onSubmit(planetForm.value)">
  <div class="form-group">
    <label for="exampleInputEmail1">仓库名称</label>
   <!-- .在ng2表单中使用ngModel需要注意,必须带有name属性或者使用 [ngModelOptions]=”{standalone: true}”，二选其一-->
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email" [(ngModel)]="data[0].name"  [ngModelOptions]="{standalone: true}" >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">仓库位置</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password"  [(ngModel)]="data[0].location"  [ngModelOptions]="{standalone: true}" >
  </div>
  <div class="form-group">
    <label >地图</label>
    <p class="help-block">高德地图位置</p>
  </div>
  <button type="submit" class="btn btn-default" (click)="submit()">提交</button>
  <button type="submit" class="btn btn-default">取消</button>
</form>
