<div  style="width:100%;height:100%;position: fixed;margin:0;padding:0">
  <h4>欢迎登陆资产管理系统</h4>

  <p-fileUpload name="myfile[]"  customUpload="true" multiple="multiple" (uploadHandler)="myUploader($event)"></p-fileUpload>

  <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
                multiple="multiple" accept="image/*" maxFileSize="1000000">
    <ng-template pTemplate type="content">
      <ul *ngIf="uploadedFiles.length">
        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
      </ul>
    </ng-template>
  </p-fileUpload>
<!--
  <button pButton type="button" label="Click"></button>
  <button pButton type="button" icon="fa-check" iconPos="left">abc</button>

  <p-fileUpload name="myfile[]" url="./upload.php"></p-fileUpload>-->
  <!--<img src="assets/images/5.png" alt="..." class="img-circle img-responsive" style="width:80%;height:75%;">-->
</div>
