<section class="content" style="padding: 0px">
  <h3 style="display:inline;margin-left:1%;">
    发布出租---<small>书籍发布信息管理</small>
  </h3>

<form  #planetform="ngForm"  (ngSubmit)="onSubmit(planetform.value)" style="margin-top: 20px">
  <div class="form-group">
    <label for="exampleInputPassword5">作者</label>
    <input type="text" class="form-control" id="exampleInputPassword5" placeholder="请输入书籍出版社" name="author"    [(ngModel)]="data.author" >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword9">书籍出版社</label>
    <input type="text" class="form-control" id="exampleInputPassword9" placeholder="请输入书籍出版社" name="press"    [(ngModel)]="data.press" >
  </div>

  <div class="form-group">
  <!--  <input type="hidden" name="id" [(ngModel)]="data.id">-->
    <label for="exampleInputPassword8">书籍原始价格</label>
    <input type="text" class="form-control" id="exampleInputPassword8" placeholder="请输入价格" name="price"   [(ngModel)]="data.price"   >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword7">书籍新旧程度</label>
    <input type="text" class="form-control" id="exampleInputPassword7" placeholder="请输入新旧程度（几成新）" name="grade"  [(ngModel)]="data.grade"    >
  </div>
  <p-fileUpload name="myfile[]" url="./upload.php"></p-fileUpload>
<!--  <div class="form-group">
    &lt;!&ndash;<input type="hidden" name="id" [(ngModel)]="data.id">&ndash;&gt;
    <div class="btn-group" dropdown style="margin-top: 10px">
      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
        书籍类型 <span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item"  >文学</a></li>
        <li role="menuitem"><a class="dropdown-item" >计算机</a></li>
        <li role="menuitem"><a class="dropdown-item" >历史</a></li>
        <li role="menuitem"><a class="dropdown-item" >心灵</a></li>
        <li role="menuitem"><a class="dropdown-item" >小说</a></li>
      </ul>
    </div>
  </div>-->
<!--<div class="form-group">
  <label for="exampleInputPassword1">租金（元/日）</label>
  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="请输入租金" name="location"    >
</div>
<div class="form-group">
  <label for="exampleInputPassword2">出租截止日期</label>
  <input type="text" class="form-control" id="exampleInputPassword2" placeholder="请输入出租截止日期" name="location"     >
</div>
<div class="form-group">
  <label for="exampleInputPassword3">添加描述</label>
  <input type="text" class="form-control" id="exampleInputPassword3" placeholder="请输入新旧程度（几成新）" name="location"     >
</div>-->
<div class="form-group">
  <label >地图</label>
  <p class="help-block">高德地图位置</p>
</div>
<button type="submit" class="btn btn-default">确定发布</button>
<!--<button type="submit" class="btn btn-default">取消</button>-->
</form>
</section>
