<section class="content" style="padding: 0px">
  <h3 style="display:inline;margin-left:1%;">
    发布出租---<small>发布信息管理</small>
  </h3>

<form  #planetform="ngForm"  (ngSubmit)="onSubmit(planetform.value)" style="margin-top: 20px">
  <div class="form-group">
    <label for="exampleInputPassword5">书名</label>
    <input type="text" class="form-control" id="exampleInputPassword5" placeholder="请输入书籍出版社" name="author"    [(ngModel)]="data.author" >
  </div>
<!--  <input type="text" ngModel="obj.price">
  <input type="text" ngModel = "obj.rent">
  <input type="text" ngModel = "obj.rent">

  <input type="text" ngModel="book.name">
  <input type="text" ngModel="book.name">
  <input type="text" ngModel="book.name">
  <input type="text" ngModel="book.name">

  obj['book']=book;
  post(obj)-->



  <div class="form-group">
    <label for="exampleInputPassword9">书籍出版社</label>
    <input type="text" class="form-control" id="exampleInputPassword9" placeholder="请输入书籍出版社" name="press"    [(ngModel)]="data.press" >
  </div>

  <div class="form-group">
  <!--  <input type="hidden" name="id" [(ngModel)]="data.id">-->
    <label for="exampleInputPassword8">书籍价格</label>
    <input type="text" class="form-control" id="exampleInputPassword8" placeholder="请输入价格" name="price"   [(ngModel)]="obj.price"   >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword7">书籍新旧程度</label>
    <input type="text" class="form-control" id="exampleInputPassword7" placeholder="请输入新旧程度（几成新）" name="grade"  [(ngModel)]="data.grade"    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword12">文件上传</label>
    <p-fileUpload #myProfile name="file"  multiple="multiple"  url={{url}} uploadLabel="true"
                  customUpload="true"
                  chooseLabel="选择上传的图片"
                  accept="image/*"
                  showCancelButton={{showUpload}}
                  (onBeforeSend) = "onBeforeSend($event)" (onBeforeUpload)="onBeforeUpload($event)"></p-fileUpload>
  </div>


<div class="form-group">
  <label >地图</label>
  <p class="help-block">高德地图位置</p>
</div>
<button type="submit" class="btn btn-default" (click)="onSubmit()">确定发布</button>
<!--<button type="submit" class="btn btn-default">取消</button>-->
</form>
</section>
