<section class="content" style="padding: 0px">
  <h3 style="display:inline;margin-left:1%;">
    书籍详情---<small>书记详情信息管理</small>
  </h3>
  <table class="table table-hover" >
    <tr>
      <th>
        <input type="checkbox">
      </th>
      <th>书籍序号</th>
      <th>书籍名称</th>
      <th>书籍。。</th>
      <!--<th style="text-align: center">操作</th>-->
    </tr>
    <tr>
    <tr >
      <th >
        <input type="checkbox">
      </th>
      <td>1</td>
      <td>java</td>
      <td>626</td>
    </tr>
    <tr >
      <th >
        <input type="checkbox">
      </th>
      <td>2</td>
      <td>javaWeb</td>
      <td>626</td>
    </tr>
    <tr >
      <th >
        <input type="checkbox">
      </th>
      <td>3</td>
      <td>ssh</td>
      <td>626</td>
    </tr>

  </table>




</section>
