<aside class="sidebar">
  <div class="sidebar-container">

    <div class="sidebar-header">
      <div class="brand">
        <!-- Logo -->
        <img src="assets/images/logo.png" alt="Logo" height="50">
      </div>
    </div>

    <nav class="menu">
      <ul class="nav metismenu" id="sidebar-menu">
        <li routerLinkActive="active">
          <a routerLink="/dashboard">
            <i class="fa fa-fw fa-dashboard"></i> 概况
          </a>
        </li>

        <li routerLinkActive="active">
          <a href="javascript:void(0);">
            <i class="fa fa-th-large"></i> 资产管理
            <i class="fa arrow"></i>
          </a>
          <ul routerLinkActive="in">
            <li routerLinkActive="active">
              <a routerLink="/organizationManagementComponent">
                组织管理
              </a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/stationBrowsing">
                我的仓库
              </a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/memberBrowsing">
                我的资产
              </a>
            </li>
          </ul>
        </li>
        <li  routerLinkActive="active">
          <a href="javascript:void(0);">
            <i class="fa fa-th-large"></i> 书籍交易
            <i class="fa arrow"></i>
          </a>
          <ul>
            <li routerLinkActive="active">
              <a routerLink="/attendanceRecord">
                我的书屋
              </a>
            </li>
            <li routerLinkActive="active">
              <a>
                书籍广场
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>


  </div>

</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
