<div class="form-content">
  <div class="form-group">
    <input type="text" id="inputUsername" class="form-control input-underline input-lg" aria-describedby="usernameHelpBlock"
           [(ngModel)]="user.username" name="username" placeholder="用户名" autofocus>
    <small id="usernameHelpBlock" class="form-text text-muted" *ngIf="user.username.length < 6">
      请输入6~20位的用户名，只能包含字母、数字或下划线
    </small>
  </div>
  <div class="form-group">
    <input type="password" id="inputPassword" class="form-control input-underline input-lg" aria-describedby="passwordHelpBlock"
           [(ngModel)]="user.password" name="password" placeholder="密码">
    <small id="passwordHelpBlock" class="form-text text-muted" *ngIf="user.password.length < 6">
      请输入6~20位的密码，只能包含字母、数字或下划线
    </small>
  </div>
  <div class="form-group">
    <input type="password" id="inputPassword2" class="form-control input-underline input-lg" aria-describedby="password2HelpBlock"
           [(ngModel)]="user.password2" name="password2" placeholder="再次输入密码">
    <small id="password2HelpBlock" class="form-text text-muted" *ngIf="user.password !== user.password2">
      请再次输入密码以确认
    </small>
  </div>
  <div class="form-group text-center">
    <button type="submit" class="btn btn-primary" (click)="register()"
            [disabled]="(user.username.length < 6) || user.password.length < 6 || user.password !== user.password2 || isSubmitting">
      <i class="fa fa-spin fa-spinner" *ngIf="isSubmitting"></i> 注&nbsp;&nbsp;册
    </button>
  </div>
  <div class="form-group text-sm">
    <p class="text-muted text-xs-center">
      已经有账号? <a href="javascript:void(0)" (click)="cancel()">立即登录</a>
    </p>
  </div>
</div>
