<section class="content" style="padding: 0px" >
  <h3 style="display:inline;margin-left:1%;"   *ngIf="data">
    {{data.warehous_name}}资产列表---<small>资产信息管理</small>
  </h3>
  <form class="form-inline" style="margin:10px;padding: 10px;  ">
    <div class="form-group">
      <label for="exampleInputName2" >物品名称:</label>
      <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail2">所属仓库:</label>
      <select class="select" style="width: 221px;height: 38px">
        <option value ="volvo">Volvo</option>
        <option value ="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail3" >状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态:</label>
      <select class="select" style="width: 221px;height: 38px">
        <option value ="volvo">Volvo</option>
        <option value ="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
    </div>
    <button type="submit" class="btn btn-outline-primary">查询</button>

  </form>
  <hr>
  <table class="table table-hover" *ngIf="data" >
    <tr>
      <th>
        <input type="checkbox">
      </th>
      <th>编号</th>
      <th>物品姓名</th>
      <th>属性</th>
      <th>数量</th>
      <th>所属仓库</th>
      <th>状态</th>
    <!--  <th>操作</th>-->
    </tr>
    <tr >
      <th>
        <input type="checkbox">
      </th>
      <td>{{data.id}}</td>
      <td>{{data.name}}</td>
      <td>{{data.property}}</td>
      <td>{{data.count}}</td>
      <td>{{data.warehouse_location}}</td>
      <td>{{data.stateName}}</td>
    <!--  <td><a routerLink="/heroes" class="btn btn-info btn-sm">进入仓库</a></td></tr>-->


  </table>
  <div class="center">
    <a href="#" >上一页</a>
    <a href="#" >下一页</a>
    <a href="#" >首页</a>
    <a href="#" >末页</a>
  </div>
</section>
