<section class="content" style="padding: 0px">
	<h3 style="display:inline;margin-left:1%;">
         仓库列表---<small>仓库信息管理</small>
  </h3>

<hr>
<table class="table table-hover" *ngIf="data">
  <tr>
  <th>
    <input type="checkbox">
  </th>
  <th>仓库编号</th>
  <th>仓库名称</th>
  <th>仓库位置</th>
  <th style="text-align: center">操作</th>
  </tr>
  <tr>
  <tr *ngFor="let item of data | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalResults }; let idx=index" >
  <th >
    <input type="checkbox">
  </th>
  <td>{{idx+1}}</td>
  <td>{{item.name}}</td>
  <td>{{item.location}}</td>
  <td  style="text-align: center">
    <button [routerLink]="['/stationBrowsing/warehouseOne', item.id]"  class="btn btn-info btn-sm" >进入仓库</button>
    <button   [routerLink]="['/stationBrowsing/editInfo', item.id]"  class="btn btn-primary btn-sm" >修改</button>
    <button   class="btn btn-danger btn-sm" (click)="delete(item.id, idx)" routerLink="/stationBrowsing">删除</button>
  </td>
</tr>

</table>
<div class="center">
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModalLong"  [routerLink]="['/stationBrowsing/createWarehouse']" >
 新增仓库
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>
<div class="center" style="margin-top: 20px" >
  <pagination-controls previousLabel="上一页" nextLabel="下一页"(pageChange)="pageChanged($event)"></pagination-controls>
</div>


</section>
